<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Bundled Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
    <div id="content"></div>
    <script type="text/javascript" src="./bundle.js"></script>
</body>
</html>