header, footer {
    padding: 1em;
    color: white;
    background-color: #000080;
    clear: left;
    text-align: center;
}

#form-container {
    padding: 1em;
}

.well {
    margin-top: 2em;
}

.padding {
    padding-top: .5em;
}

body {
    padding-top: 70px;
}

.displayErrors input.invalid, .displayErrors select.invalid {
    border-color: red;
}

.displayErrors input.valid, .displayErrors select.valid {
    border-color: green;
}

.displayErrors .invalid-feedback {
    color: red;
}